/* ======= love-we-do-production-production START ======= */
.love-we-do-production {
    position: relative;
    height: 512px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(26, 80, 139, 0.2), rgba(26, 80, 139, 0.2));
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
    }
}

.love-we-do-production__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    z-index: 0;
}

.love-we-do-production__layout {
    position: relative;
    z-index: 1;
}

.love-we-do-production__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 512px;
}

.love-we-do-production__text {
    color: var(--white);
    text-align: center;
    font-family: $Montserrat-500;
    font-size: 42px;
    line-height: 1;
    text-transform: uppercase;
}

/* ======= love-we-do-production MEDIA START ======= */
@include media-breakpoint-down(sm) {
    .love-we-do-production__layout {
        padding-top: 96px;
    }

    .love-we-do-production__content {
        align-items: flex-start;
    }
    
    .love-we-do-production__text {
        font-size: 36px;
        line-height: 1.25;
    }
}
/* ======= love-we-do-production MEDIA END ======= */
/* ======= love-we-do-production-production END ======= */