/* ======= news START ======= */
.news {
    background-color: var(--white);
}

.news__layout {
    padding: 50px 20px 42px;
}

.news__title {
    margin-bottom: 80px;
    color: var(--brown);
    text-align: center;
    font-family: $Montserrat-500;
    font-size: 42px;
    line-height: 1;
    text-transform: uppercase;
}

.news__list {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &::before {
        content: "";
        position: absolute;
        top: -28px;
        left: -59px;
        width: 1254px;
        height: 230px;
        background-image: url("../img/svg/news-pattern.svg");
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.news__list-item {
    width: 300px;
    height: auto;
}

.news__list-item-circle {
    position: relative;
    margin-bottom: 19px;
    width: 188px;
    height: 188px;
    border-radius: 50%;
    border: 2px solid var(--brown);
    overflow: hidden;
    background-color: var(--greyBg);
}

.news__list-item-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    z-index: 0;
}

.news__list-item-image--contain {
    width: 75%;
    height: auto;
    object-fit: contain;
}

.news__post-date {
    display: inline-block;
    margin-bottom: 10px;
    color: var(--brown);
    font-family: $RobotoCondensed-300;
    font-size: 12px;
    line-height: 1;
}

.news__post-title {
    margin-bottom: 13px;
    color: var(--darkBlue);
    font-family: $RobotoCondensed-300;
    font-size: 18px;
    line-height: 1;
}

.news__post-text {
    margin-bottom: 5px;
    color: var(--black);
    font-family: $RobotoCondensed-300;
    font-size: 16px;
    line-height: 1.65;
}

.news__post-link {
    display: inline-block;
    color: var(--darkBlue);
    font-family: $RobotoCondensed-300;
    font-size: 18px;
    line-height: 1;
    text-decoration-line: underline;
}

/* ======= news MEDIA START ======= */
@include media-breakpoint-down(xxl) {
    .news__list-item-circle {
        margin: 0 auto 15px;
    }

    .news__post {
        text-align: center;
    }
}

@include media-breakpoint-down(lg) {
    .news__layout {
        padding: 50px 13px 48px;
    }

    .news__list {
        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    .news__post {
        text-align: left;
    }

    .news__list-item {
        position: relative;
        width: 100%;

        &::before {
            content: "";
            position: absolute;
            top: -15px;
            left: -43%;
            width: 1254px;
            height: 230px;
            background-image: url("../img/svg/news-pattern.svg");
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

@include media-breakpoint-down(sm) {
    .news__title {
        margin-bottom: 51px;
        padding-right: 70px;
        text-align: left;
        line-height: 1.15;
    }

    .news__list-item {
        position: relative;
    }

    .news__list-item-circle {
        margin: 0 auto 19px;
    }

    .news__post-date {
        margin-bottom: 8px;
    }

    .news__post-text {
        margin-bottom: 0;
    }
}

@media (width: 390px) {
    .news__list-item {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -46px;
            width: 417px;
            height: 210px;
            background-image: url("../img/svg/news-pattern--mobile.svg");
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

/* ======= news MEDIA END ======= */

/* ======= news END ======= */