/* ======= products START ======= */
.products {
    background-color: var(--white);
}

.products__layout {
    padding: 46px 0 85px;
}

.products__title {
    margin-bottom: 36px;
    color: var(--brown);
    text-align: center;
    font-family: $Montserrat-500;
    font-size: 42px;
    line-height: 1;
    text-transform: uppercase;
}

.products__item {
    width: 287px;
}

.products__item-image-block {
    margin: 0 auto;
    margin-bottom: 9px;
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__item-image {
    display: block;
    width: 100%;
    height: auto;
}

.products__item-content-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 215px;
}

.products__item-text-block {
    margin-bottom: 16px;
}

.products__item-title {
    margin: 0 auto 8px;
    width: 210px;
    color: var(--lightBrown);
    text-align: center;
    font-family: $RobotoCondensed-400;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
}

.products__item-subtitle {
    margin: 0 auto;
    width: 287px;
    color: var(--grey);
    text-align: center;
    font-family: $RobotoCondensed-300;
    font-size: 14px;
    line-height: 1.2;
}

.products__item-button-block {
    padding-bottom: 2px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 12px;
}

.products__buy-button {
    display: inline-block;
}

.products__about-link {
    display: inline-block;
}

/* ======= swiper START ======= */
.products__swiper {
    position: relative;
    overflow: hidden;
}

.products__swiper-button-prev,
.products__swiper-button-next {
    position: absolute;
    top: 100px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAxOCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE4IDEuOTRMMTYuMDU5NCAwTDAgMTZMMTYuMDU5NCAzMkwxOCAzMC4wN0wzLjg5MDYyIDE2TDE4IDEuOTRaIiBmaWxsPSIjOEI3MzRCIi8+Cjwvc3ZnPgo=");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
}

.products__swiper-button-prev {
    left: 0;
    width: 18px;
    height: 32px;
}

.products__swiper-button-next {
    right: 0;
    width: 18px;
    height: 32px;
    transform: rotate(180deg);
}

/* ======= swiper END ======= */

/* ======= products MEDIA START ======= */
@include media-breakpoint-down(sm) {
    .products__layout {
        padding: 56px 0 60px;
    }

    .products__title {
        margin-bottom: 36px;
        line-height: 1.2;
    }
}

/* ======= products MEDIA END ======= */

/* ======= products END ======= */