// Шрифт браузера по умолчанию (для emizer)
$default-browser-font-size: 16px;

// Цвета
$temp: linear-gradient(rgba(0, 0, 0, 0.1));

:root {
    --black:                                 #212121;
    --white:                                 #FFFFFF;
    --blue:                                  #285484;
    --darkBlue:                              #1E4570;
    --yellow:                                #FFCB00;
    --brown:                                 #8B734B;
    --lightBrown:                            #A89A7F;
    --grey:                                  #868686;
    --lightGrey:                             #EAE3D9;
    --greyBg:                                #f5f0ea;
    --veryLightGrey:                         #f5f5f5;
    --borderGrey:                            #D9D9D9;;
    --footnoteGrey:                          #929292;
    --recommendationsGrey:                   #565656;

    --temp:                                  #C0C0C0; // Служебный фон
}

// Шрифты
$Montserrat-600: "Montserrat-600", Arial, sans-serif;

$Gilroy-300:     "Gilroy-300", Arial, sans-serif;
$Gilroy-400:     "Gilroy-400", Arial, sans-serif;
$Gilroy-500:     "Gilroy-500", Arial, sans-serif;
$Gilroy-600:     "Gilroy-600", Arial, sans-serif;
$Gilroy-700:     "Gilroy-700", Arial, sans-serif;

$NunitoSans-300: "NunitoSans-300", Arial, sans-serif;
$NunitoSans-400: "NunitoSans-400", Arial, sans-serif;
$NunitoSans-600: "NunitoSans-600", Arial, sans-serif;
$NunitoSans-700: "NunitoSans-700", Arial, sans-serif;
$NunitoSans-800: "NunitoSans-800", Arial, sans-serif;

$FactorA-400:    "FactorA-400", Arial, sans-serif;

// Переходы анимации
$button:                                0.1s ease;
$navButton:                             0.2s ease;
$subnav:                                0.3s ease;